<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Christmass app</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" href="css/images/favicon.ico">
</head>
<body>
<header>
    <h1>Świąteczna Loteria</h1>
    <h>Do Wigilii zostało {{remainingDays}} dni</h>
</header>
<div class="buttons">
    <button class="button" id="login" onclick="window.location.href='login'">ZALOGUJ</button>
</div>
<div class="content-center1">
    <p>Witamy na Świątecznej loterii!</p>
    <p>Zaloguj się, żeby wylosować osobę, której kupisz prezent w te Święta!</p>
</div>
</body>
</html>